*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
      height: 100%;
      width: 100%;
}
.container{
       height: 30%;
       width: 100%;
       background-color: #1f1e1e;

}
input{
      background-color: black;
      position: absolute;
      top: 5%;
      left: 90%;
      transform: translate(-50%,-50%);
      width: 150px;
      height: 20PX;
}
.im2{
    position: absolute;
    top: 5%;
    left: 98%;
    transform: translate(-50%,-50%);
    height: 15px;
    width: 15px;
    background-color: black;
    color: black;
    
}
.im1{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 92
    px;
    width: 150px;
    background-color: white;

}
.g1{
    position: absolute;
    top: 9%;
    left: 7%;
    transform: translate(-50%,-50%);
    background-color: #1f1e1e;
    /* color: white; */
    /* font-style: italic; */
    color: white;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.v1{
    position: absolute;
    top: 9%;
    left: 10%;
    transform: translate(-50%,-50%);
    border-left: 1px solid #fcfafa;
  height: 20px;
  /* width: ; */
    
}
.g2{  
    position: absolute;
    top: 9%;
    left: 12%;
    transform: translate(-50%,-50%);
    background-color: #1f1e1e;
    /* color: white; */
    /* font-style: italic; */
    color: white;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}
hr{
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: #f21b1b; */
    width: 1370px;
    /* border-left: 10px; */
    border-width: 0.1px solid rgb(62, 62, 62) ;
    /* border width: 50px; */
    /* height: 30px; */
    border-top-right-radius: 0.5px;
      /* height: 10px; */
    /* border: 1000px rgb(128, 33, 33); */

}    
.g3{
    position: absolute;
    top: 8%;
    left: 74%;
    transform: translate(-50%,-50%);
    color: #fcfafa;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.nav1{
    position: absolute;
    top: 25%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: #d6d0d0;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    text-decoration: none;

}
.nav2{
    position: absolute;
    top: 25%;
    left: 28%;
    transform: translate(-50%,-50%);
    color: #e1dddd;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.nav3{
    position: absolute;
    top: 25%;
    left: 38%;
    transform: translate(-50%,-50%);
    color: #dad1d1;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;

}
.nav4{
    position: absolute;
    top: 25%;
    left: 48%;
    transform: translate(-50%,-50%);
    color: #e9dcdc;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.nav5{
    position: absolute;
    top: 25%;
    left: 58%;
    transform: translate(-50%,-50%);
    color: #f3eaea;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.nav6{
    position: absolute;
    top: 25%;
    left: 68%;
    transform: translate(-50%,-50%);
    color: #e3e0e0;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.nav7{
    position: absolute;
    top: 25%;
    left: 78%;
    transform: translate(-50%,-50%);
    color: #e1dada;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.nav8{
    position: absolute;
    top: 25%;
    left: 88%;
    transform: translate(-50%,-50%);
    color: #e0dcdc;
    font-size: 12PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
}
.h1{
    position: absolute;
    top: 35%;
    left: 18%;
    transform: translate(-50%,-50%);
    font-size: 11PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    color: #323232;
}
.h2{
    position: absolute;
    top: 35%;
    left: 35.5%;
    transform: translate(-50%,-50%);
    font-size: 11PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    color: #323232;
}
.h3{
    position: absolute;
    top: 35%;
    left: 58%;
    transform: translate(-50%,-50%);
    font-size: 11PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    color: #323232;
}
.h4{
    position: absolute;
    top: 35%;
    left: 76%;
    transform: translate(-50%,-50%);
    font-size: 11PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    color: #323232;
}
.h5{
    position: absolute;
    top: 35%;
    left: 88%;
    transform: translate(-50%,-50%);
    font-size: 11PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 10;
    color: #323232;
}
.h0{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30PX;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-weight: 30px; */
    color: #181823;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.im3{
    position: absolute;
    top: 60% ;
    left:2% ;
    transform: translate(-5%,-5%);
    height: 200px;
    width: 200px;

}
.im4{
    position: absolute;
    top: 79.5% ;
    left:30% ;
    transform: translate(-50%,-50%);
    height: 200px;
    width: 200px;

}
.im5{
    position: absolute;
    top: 79.5% ;
    left:49.5% ;
    transform: translate(-50%,-50%);
    height: 190px;
    width: 200px;

}
.im6{
    position: absolute;
    top: 79.5% ;
    left:69.5% ;
    transform: translate(-50%,-50%);
    height: 190px;
    width: 200px;
}
.im7{
    position: absolute;
    top: 79.5% ;
    left:90%;
    transform: translate(-50%,-50%);
    height: 190px;
    width: 200px;

}
a{
    text-decoration: none;
}